@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?se2tdh');
    src:    url('../fonts/icomoon.eot?se2tdh#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?se2tdh') format('truetype'),
        url('../fonts/icomoon.woff?se2tdh') format('woff'),
        url('../fonts/icomoon.svg?se2tdh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\f099";
}

